@page "{genre?}/{bookName?}"
@model Book_Shop.Pages.Books.IndexModel

@{
    if (Model.bookName == null)
    {

        <h2>@Model.CurrentCatalog</h2>


        if (Model.genre != null)
        {
            <p style="font-size: 1.3em">
                @Model.PageGenre.Desc
            </p>
        }

        // Форма для вибору впорядкування: за рейтингом(за замовчуванням), за роком виданняб за ціною вниз, за ціною вверх
<form method="post" asp-antiforgery="false">
    <div>
        <div class="form-group row" style="width: 300px; margin-right: 0px; margin-left: auto">
            <label for="select1" class="col-form-label">Сортувати</label>
            <div class="col">
                <select class="form-control" id="select1" name="sortSelector" asp-items="@Model.SortSelector" onchange="this.form.submit()">
                </select>
            </div>
        </div>
    </div>
</form>

        <div class="row mt-5 mb-2">
            @{
                if (Model.AllBooks != null)
                {
                    foreach (Book item in Model.AllBooks)
                    {
                        @Html.Partial("BookItem", item);
                    }
                }
            }
        </div>
    }
    else
    {
        @Html.Partial("BookItemPage", Model.PageBook);
    }
}

