@using Book_Shop.Data.models
@model Book

<div class="row mt-5 mb-5">
    <div class="col-lg-5">
        <div style="width: 260px; margin:5% auto;">
            <img class="img-fluid"
                 src="@Model.ImgPath"
                 alt="@Model.BookName"/>
        </div>
        </div>
    <div class="col-lg-6" id="features" style="margin: 0 auto 0 0;">
        <h2>@Model.BookName</h2>
        <p>@Model.WrittenBy</p>
        <p>Жанр: @Model.BookGenre.GenreName</p>
        <p>Рік видання: @Model.WriteYear</p>
        <p>Мова: @Model.WriteLanguage</p>
        <p>Кількість сторінок: @Model.CountPages с.</p>
        <p>Рейтинг: @Model.BookRate</p>
        <div class="price">
            <p>@Model.Price.ToString("c")</p>
        </div>
        @*посилання на корзину*@
        <p><a class="btn btn-warning" id="button1" asp-page="/ShopCart/Index" asp-page-handler="add" asp-route-id="@Model.Id">В корзину</a></p>
    </div>
    </div>
<div class="container col-lg-11" id="about_book">
    <h3>Про книгу</h3>
    <p>
        @{ 
            if (Model.LongDesc != "")
            {
               @Model.LongDesc;
            }
            else
            {
                <span> На жаль опису даної книги ще немає.</span>
            }
        }
       
    </p>
</div>
